<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= searchTerm %>
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css" />
</head>

<body>


    <div class="container">
        <h1>You Search for <%= searchTerm %>
        </h1>
        <a href="/" class="link">Go Back</a>
        <% data.forEach((movie)=> { %>
            <div class="card mb-5 w-75">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img class="card-img img-fluid"
                            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2<%= movie['poster_path'] %>">
                    </div>

                    <div class="col-md-8">
                        <div class="card-body">
                            <h2 class="card-title">
                                <%= movie["original_title"] %>
                            </h2>
                            <hr>
                            <p class="card-text">
                                <%= movie["overview"] %>
                            </p>
                            <hr>
                            <br>
                            <p class="card-text"><b>Date Published:</b>
                                <%= movie["release_date"] %>
                            </p>
                            <p class="card-text"><b>Total Votes:</b>
                                <%= movie["vote_count"] %>
                            </p>
                            <p class="card-text"><b>Average Rating:</b>
                                <%= movie["vote_average"] %>
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <% }) %>
    </div>

</body>

</html>